<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinrui.network.mapper.ThirdPartyMapper" >

    <select id="get" resultType="com.xinrui.network.entity.Enterprise">
        select
        name name,
        address address,
        licenseNumber licenseNumber,
        legalRep legalRep,
        mOrP mOrP,
        QsNo enterpriseQsNo,
        contacts contacts
        from cj_xkzxx
        where 1=1
        <if test="name != null and name != ''">
            name like concat('%',#{name},'%')
        </if>
        <if test="licenseNumber != null and licenseNumber != ''">
            licenseNumber like concat('%',#{licenseNumber},'%')
        </if>
    </select>
</mapper>